.info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .2rem;
}

.infoTitle {
    font-size: 1.4rem;
}

.infoText {
    font-size: 1rem;
}

@media screen and (max-width: 480px) {
    .infoTitle {
        font-size: 1.1rem;
    }
}