.showList {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.showListText {
    font-size: 1.05rem;
}

.showListContent {
    width: 100%;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
}

.showListItem {
    display: flex;
    gap: .45rem;
}

.showListItemIcon {
    font-size: 1.2rem;
    color: var(--primary);
}

.showListItemText {
    font-size: 1rem;
}

@media screen and (max-width: 480px) {
    .showListItemIcon {
        font-size: 1.5rem;
    }
}