.main {
    width: 100%;
    overflow-x: hidden;
}

.mainHero {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 480px) {
    .mainHero {
        flex-direction: column-reverse;
    }
}