.skills {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.skillsContent {
    display: flex;
    width: 100%;
    padding: 0 1rem;
    padding-top: 1rem;
}

.skillsContentMain {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 70%;
    gap: 2.5rem;
    padding-bottom: 2rem;
}

@media screen and (max-width: 480px) {
    .skills {
        overflow: scroll;
    }
    .skillsContent {
        flex-direction: column;
    }
    .skillsContentMain {
        overflow-y: auto;
        width: 100%;
    }
}