.mobileNavLink {
    width: 100%;
    text-decoration: none;
    color: var(--black);
}

.mobileNavLinkHeader {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: .2rem;
}

.mobileNavLinkHeaderActive {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: .2rem;
    color: var(--primary);
}

.mobileNavLinkHeaderTitle {
    font-size: 4rem;
    font-family: var(--family);
    letter-spacing: .2rem;
}

.mobileNavLinkHeaderText {
    font-size: 1.5rem;
}

.mobileNavLinkText {
    font-size: 1.2rem;
}