.hero {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 70vh;
    margin-top: 4rem;
    position: relative;
    margin-bottom: 4rem;
}

.heroContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heroContentTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heroContentTitle {
    display: flex;
    align-items: center;
    gap: .8rem;
    position: relative;
}

.heroContentTitleCont {
    display: flex;
    align-items: center;
}

.heroContentTitleContext,
.heroContentTitleColor {
    font-size: 6rem;
    font-family: var(--bold-family);
}

.heroContentTitleContext1,
.heroContentTitleColor1 {
    font-size: 6rem;
    font-family: var(--bold-family);
}

.heroContentTitleColor {
    color: var(--primary);
}

.heroContentTitleColor1 {
    color: var(--primary);
}

.heroContentTitleFloat {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--white);
    border-radius: 50%;
    border: 2px solid var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    cursor: pointer;
    z-index: 4;
    animation: bounce .5s linear infinite alternate;
    transition: .3s all linear;
}

@keyframes bounce {
    0% {top: 0}
    50% {top: -.1.5rem}
    100% {top: -.3rem}
}

.heroContentTitleFloatIcon {
    font-size: .8rem;
    font-weight: var(--bold);
}

.heroContentTitlesText {
    font-size: 6rem;
    font-family: var(--bold-family);
    -webkit-text-stroke: 1.5px var(--black); /* WebKit (Safari, Chrome) */
    --text-stroke: 1.5px var(--black); 
    color: transparent;
}

.heroContentLoc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: .5rem;
}

.heroContentLocText {
    font-weight: var(--bold);
    color: var(--grey);
    font-size: 1.1rem;
}

.heroContentLocIcons {
    display: flex;
    align-items: center;
    gap: .9rem;
    z-index: 3;
}

.heroContentLocIconsIG {
    font-size: 1.2rem;
    color: purple;
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    --webkit-background-clip: text;
    --webkit-text-fill-color: transparent;
}

.heroContentLocIconsLink {
    font-size: 1.2rem;
    color: #0A66C2;
}

.heroButtons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    z-index: 5;
}

.heroButtonsToggle,
.heroButtonsRoad {
    padding: .9rem 1rem;
    border-radius: var(--sm-radius);
    display: flex;
    align-items: center;
    gap: .8rem;
    cursor: pointer;
}

.heroButtonsToggle {
    background-color: var(--primary);
    color: var(--white);
}

.heroButtonsToggleText {
    font-weight: var(--bold);
    font-size: 1rem;
}

.heroButtonsToggleIcon {
    font-size: 1.1rem;
}

.heroButtonsRoad {
    border: 1px solid var(--black);
    color: var(--black);
    text-decoration: none;
}

.heroButtonsRoadText {
    font-weight: var(--bold);
    font-size: 1rem;
}

.heroButtonsRoadIcon {
    font-size: 1.1rem;
}

.heroSVGMobile {
    display: none;
}

.heroSVG {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
}

.heroText {
    font-size: 3.6rem;
    font-family: var(--family);
    text-align: center;
    margin-bottom: .5rem;
}

.heroTextColor {
    color: var(--primary);
}

@media screen and (max-width: 480px) {
    .hero {
        height: 40vh;
        margin-bottom: 2rem;
    }
    .heroContentTitleContext,
    .heroContentTitleColor {
        font-size: 2rem;
    }
    .heroContentTitleContext1,
    .heroContentTitleColor1 {
        font-size: 3.2rem;
    }
    .heroContentTitlesText {
        font-size: 2.5rem;
    }
    .heroContentTitleFloat {
        top: -1rem;
        padding: .3rem;
    }
    .heroContentTitleFloatIcon {
        font-size: .6rem;
    }
    .heroButtons {
        gap: 1rem;
    }
    .heroButtonsToggle,
    .heroButtonsRoad {
        padding: .7rem .8rem;
        gap: .4rem;
    }
    .heroButtonsToggleText,
    .heroButtonsRoadText {
        font-size: .8rem;
    }
    .heroButtonsToggleIcon,
    .heroButtonsRoadIcon {
        font-size: .9rem;
    }
    .heroContentLocText {
        font-size: .75rem;
    }
    .heroText {
        font-size: 1.5rem;
    }
    .heroContentLocIconsIG,
    .heroContentLocIconsLink {
        font-size: 1rem;
    }
    .heroSVG {
        display: none;
    }
    .heroSVGMobile {
        position: absolute;
        inset: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        z-index: 1;
    }
    
}